
<div class="container content-overlay">
  <h3>Your Locations</h3>
  <% for location in @locations %>
      <%= link_to location.address, location, {class: 'btn btn-warning btn-lg'}%> |
  <% end %>

  <h3>Add a Location to your List!</h3>
  <p><%= link_to "+ New Location", new_location_path , {class: 'btn btn-success btn-lg'} %></p>
</div>
