
<div class="container content-overlay">
  <table>
    <tr>
      <th>Name</th>
    </tr>
    <% for location in @locations %>
      <tr>
        <td><%= location.address %></td>
        <td><%= link_to "Show", location %></td>
        
        
      </tr>
    <% end %>
  </table>

  <p><%= link_to "New Location", new_location_path %></p>
</div>
